.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepageWrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.navBarWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 10%;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.navBarWrapper button{
  border-radius: 40px;
  font-size: 18px;
  width: 60px;
  height: 60px;
  justify-content: left;
  margin: 10px 0px 10px 30px;
  font-weight: 300;
  padding-left: 21px;
  background-color: #dedede;
  color: black;
}

.navBarWrapper button:hover{
  width: 130px;
  color: white;
}

span{
  display: none;
}

.navBarWrapper button:hover .spanBtn{
  display: block;
  color: white;
}


.textHomeWrapper{
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.textHomeWrapper h1{
  font-size: 64px;
  font-weight: 600;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #45505b
}

.textHomeWrapper p{
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0px 15px 0px;
  color: #436e9a;
}

.contactWrapper{
  display: flex;
  flex-direction: row;
}

.contactWrapper button{
  font-size: 25px;
  margin-right: 32px;
}

.aboutWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  height: 100vh;
}

.underLine{
  border: 1px solid blue;
  width: 120px;
  height: 1px;
  opacity: 60%;
  margin-top: 7px;
}

.aboutWrapper h1{
  font-size:30px;
  font-family: 'Raleway';
  font-weight: 600;
  color: #39393a;
}

.aboutWrapper p{
  margin-top: 30px;
  text-align: center;
  font-family: 'Noto Sans Mono', monospace;
}

.aboutContentWrapper{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
}

.aboutContentWrapper img{
  width: 30%;
  padding-left: 30px;
}
.aboutContent{
  border: 1px solid black;
  width: 70%;
  margin-left: 20px;
}

.aboutContent h2{
  font-size: 28px;
  color: blue;
  font-family: 'Noto Sans Mono', monospace;
}

.listWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 120px 10px 10px;
}

.listWrapper li{
  margin-top: 10px;
  list-style-type: '>';
  padding-left: 10px;
}