.App {
  text-align: center;
}


.homepageWrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}

.homepageWrapper:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  background-image: url('../src/Assets/image/backgroundImage2.jpg');
  background-size: cover;
  background-position:bottom;
}

.navBarWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 10%;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  z-index: 99;
}

.navBarWrapper button{
  border-radius: 40px;
  font-size: 18px;
  width: 60px;
  height: 60px;
  justify-content: left;
  margin: 10px 0px 10px 30px;
  font-weight: 300;
  padding-left: 21px;
  background-color: #ebebeb;
  color: black;
}

.navBarWrapper button:hover{
  width: 130px;
  color: white;
}

span{
  display: none;
}

.navBarWrapper button:hover .spanBtn{
  display: block;
  color: white;
}


.textHomeWrapper{
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.textHomeWrapper h1{
  font-size: 64px;
  font-weight: 600;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #45505b;
}

.textHomeWrapper p{
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0px 15px 0px;
  font-weight: 600;
  color: #3182ce;
  text-shadow: black;
}

.contactWrapper{
  display: flex;
  flex-direction: row;
}

.contactWrapper button{
  font-size: 25px;
  margin-right: 32px;
}

.aboutWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 3%;
  margin-top: 5%;
}

.underLine{
  border: 1px solid #3182ce;
  width: 120px;
  height: 1px;
  opacity: 60%;
  margin-top: 7px;
}

.aboutWrapper h1{
  font-size:30px;
  font-family: 'Raleway';
  font-weight: 600;
  color: #39393a;
}

.aboutWrapper p{
  margin-top: 30px;
  text-align: center;
  font-family: 'Noto Sans Mono', monospace;
}

.aboutContentWrapper{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 80px;
}

.aboutContentWrapper img{
  width: 30%;
  padding-left: 30px;
}
.aboutContent{
  width: 70%;
  margin-left: 20px;
}

.aboutContent h2{
  font-size: 28px;
  color: #3182ce;
  font-family: 'Noto Sans Mono', monospace;
  padding-bottom: 5px;
  font-weight: 500;
}

.listWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 120px 10px 10px;
}

.listWrapper li{
  margin-top: 10px;
  list-style-type: '>';
  padding-left: 10px;
}

.skillsContent{
  padding: 10px 0px 60px 0px;
}

.resumeWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 3%;
  margin-top: 5%;
  height: 100vh;
  margin-left: 10%;
}

.resumeWrapper h1{
  font-size:30px;
  font-family: 'Raleway';
  font-weight: 600;
  color: #39393a;
}

.resumeWrapper p{
  margin-top: 30px;
  text-align: center;
  font-family: 'Noto Sans Mono', monospace;
}

.resumeContentWrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 40px 10px 20px 10px;
}

.resumeContent{
  width:49%;
  height: 300px;
}

.resumeWrapper h2{
  font-size:24px;
  font-family: 'Raleway';
  font-weight: 600;
  color: #39393a;
}

.resumeWrapper h3{
  font-size:18px;
  font-family: 'Raleway';
  font-weight: 600;
  color:#3182ce;
}

.Container{
  border-left: 2px solid #3182ce;
  margin-left: 9px;
  margin-top: 10px;
  padding-top: 0px;
}

.Container li{
  margin-left: 15px;
}

.Container ul{
  margin-top: 10px;
}
.content{
  padding-left: 21px;
  /* padding-bottom: 20px; */
}

.Container h3{
  position: relative;
  top: -4px;
}